{% extends 'base.html' %}

{% block body %}

  <div class="add_buttons">

    <div class="button-group">
      <a href="{% url 'display_laptops' %}" class="btn btn-primary btn-md btn-trim" role="button"> Farhan</a>
      <a href="{% url 'add_laptop' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="{% url 'display_desktops' %}" class="btn btn-primary btn-md btn-trim" role="button"> Farhan Family Super Fund</a>
      <a href="{% url 'add_desktop' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="{% url 'display_mobiles' %}" class="btn btn-primary btn-md btn-trim" role="button"> Nadia</a>
      <a href="{% url 'add_mobile' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

{% comment %}
      <a href="{% '#' %}" class="btn btn-primary btn-md btn-trim" role="button"> Ongie</a> 
      <a href="{% '#' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a> 

      <a href="{% '#' %}" class="btn btn-primary btn-md btn-trim" role="button"> Orange Trust</a> 
      <a href="{% '#' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a> 
{% endcomment %}
    </div>

  </div>

  <div>

    <h4>Currently Viewing {{ header }}</h4>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Title</th>
        <th>Value</th>
        <th>Category</th>
        <th>Description</th>
        <th>Image</th>
      </tr>
    </thead>

    <tbody>

      {% for item in items %}

      <tr>
        <td>{{ item.pk }}
        <td>{{ item.Title }}</td>
        <td>{{ item.Value }} $</td>
        <td>{{ item.Category }}</td>
        <td>{{ item.Description }}</td>
        <td>{{ item.Image }}</td>

        {% if header|lower == "laptops" %}
        <td>
            <a href="{% url 'edit_laptop' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_laptop' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
        </td>
        {% elif header|lower == "desktops" %}
        <td>
            <a href="{% url 'edit_desktop' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_desktop' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
        </td>
        {% else %}
        <td>
            <a href="{% url 'edit_mobile' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
            <a href="{% url 'delete_mobile' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
        </td>
        {% endif %}


      </tr>

      {% endfor %}
    </tbody>
  </table>

{% endblock %}